<div id="wrapper" *ngIf="!isSingleTenant">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="breadcamps">
                <h4><i class="fa fa-bar-chart"></i> Dashboard</h4>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="jumbotron">
                        <h1 class="display-4">Welcome to Validata Dashboard</h1>
                        <hr class="my-4">
                        <p>Here you can see All Tenants</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg custom-button-se-all" href="#" [routerLink]="['/tenant-list']" role="button">See all Tenant
                List</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 card-padding" *ngFor="let tenant of tenants">
                    <div class="card custom-card">
                        <img class="card-img-top image-fit" [src]="tenant.image" alt="tenant.name">
                        <div class="card-body ">
                            <h5 class="card-title">{{tenant.name}}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{tenant.email}}</h6>
                            <p class="card-text">{{tenant.about}}</p>
                            <button [routerLink]="['/tenant-details',tenant.id]" type="sybmit" class="btn custom-btn"> View Details </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
</div>