<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="breadcamps">
                <h4><i class="fa fa-dashboard"></i> Monitoring Page</h4>
            </div>
            <kendo-grid [data]="tableData" style="border-radius: 5px">
                <kendo-grid-column title="Service name" [field]="'Active'" width="100">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <p class="item-name">{{dataItem.Title}}</p>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column title="Service Status" [field]="'Info'" width="100">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span *ngIf="dataItem.Active" style="color:green; font-weight: bold;">Active</span>
                        <span *ngIf="!dataItem.Active" style="color:red; font-weight: bold;">Not Active</span>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column title="IP Address" width="100">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <a href="{{dataItem.Info}}">{{dataItem.Info}}</a>
                    </ng-template>
                </kendo-grid-column>
                <kendo-grid-column width="100">
                    <ng-template kendoGridHeaderTemplate>
                        <span>Last update </span>
                        <a href="javascript:;" (click)="refreshData()" style="font-weight: bold; text-decoration: underline;">
              REFRESH</a>
                    </ng-template>
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <p class="item-name">{{now | date:'short'}}</p>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
            <div class="row">
                <div class="col-md-12">
                    <!--<img class="command-logs-image" src="/assets/images/logs.png">-->
                    <h5 class="service-title">Command Log</h5>
                </div>
            </div>
            <kendo-tabstrip style="border-color: rgba(33,37,41,0.125) !important;
  color: #dee2e6!important;
  background: white !important;
-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;">
                <kendo-tabstrip-tab [title]="'Query Logs'" [selected]="true">
                    <ng-template kendoTabContent>
                        <kendo-grid [resizable]="true" [data]="queryLog">
                            <kendo-grid-column title="Queried By" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.QueriedBy}}</p>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column title="Called From" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.CalledFrom}}</p>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column field="Name" title="Name" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.Name}}</p>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column title="Error Exception Type" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.ErrorExceptionType}}</p>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column title="Error Exception Message" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.ErrorExceptionMessage}}</p>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column title="Started" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.Started | date:'short'}}</p>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column title="Elapsed Milliseconds" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.ElapsedMilliseconds}}</p>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column title="ipAddress" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.IpAddress}}</p>
                                </ng-template>
                            </kendo-grid-column>
                        </kendo-grid>
                    </ng-template>
                </kendo-tabstrip-tab>
                <kendo-tabstrip-tab [title]="'Command Log'">
                    <ng-template kendoTabContent>
                        <kendo-grid [resizable]="true" [data]="commandLog">
                            <kendo-grid-column title="Executed By" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.ExecutedBy}}</p>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column title="API Endpoint" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    {{item.CalledFrom}}
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column title="Name" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.Name}}</p>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column title="Error Exception Type" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.ErrorExceptionType}}</p>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column title="Error Exception Message" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.ErrorExceptionMessage}}</p>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column title="Started" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.Started | date:'short'}}</p>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column title="Elapsed Milliseconds" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.ElapsedMilliseconds}}</p>
                                </ng-template>
                            </kendo-grid-column>
                            <kendo-grid-column title="ipAddress" width="auto">
                                <ng-template kendoGridCellTemplate let-item>
                                    <p class="item-name">{{item.IpAddress}}</p>
                                </ng-template>
                            </kendo-grid-column>
                        </kendo-grid>
                    </ng-template>
                </kendo-tabstrip-tab>
            </kendo-tabstrip>
        </div>
    </div>
</div>
