<div id="wrapper" *ngIf="!isSingleTenant">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="container-fluid">
                <div class="breadcamps">
                    <h4><i class="fa fa-address-card-o"></i> Tenant List</h4>
                </div>
                <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()" [scrollWindow]="false">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 card-padding" *ngFor="let tenant of tenants">
                            <div class="card custom-card">
                                <img class="card-img-top image-fit" [src]="tenant.image" alt="">
                                <div class="card-body">
                                    <h5 class="card-title">{{tenant.name}}</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">{{tenant.email}}</h6>
                                    <p class="card-text">{{tenant.about}}</p>
                                    <button [routerLink]="['/tenant-details',tenant.id]" type="sybmit" class="btn custom-btn"> View Details </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>