<div class="main">
    <div class="k-overlay" *ngIf="progress">
        <div class="k-i-loading loading-view">
        </div>
    </div>
    <img class="full-image" src="../../../../assets/images/background.jpg" alt="Logo">
    <div class="top" id="top"></div>
    <h1 class="app-logo" id="app-logo">Admin Panel</h1>
    <!-- Login Form -->
    <div class="login-container" id="login-container" *ngIf="showLogin">
        <div class="section-title">LOGIN</div>
        <div class="input-login">
            <p class="error-message">{{message}}</p>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <label class="label" for="loginEmail"></label><input type="text" formControlName="username" class="user-email" placeholder="User ID" id="loginEmail">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
                <label for="loginPassword"></label><input type="password" class="password" formControlName="password" placeholder="Password" id="loginPassword">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
                <button [disabled]="loading" type="submit" class="btn  custom-btn" value="Submit" id="loginSubmit">Submit</button>
            </form>
            <div>
                <app-mess></app-mess>
            </div>
        </div>
    </div>
    <!-- Login Form -->
    <!-- Apply License Form -->
    <div class="login-container" *ngIf="showAddLicence">
        <div class="section-title">Licensing</div>
        <div class="input-login">
            <form [formGroup]="licenseForm" (ngSubmit)="applyLicenceSubmit()">
                <p class="machine-title">Machine ID: {{machineId}} </p>
                <label class="label" for="licenceKey"></label>
                <input type="text" formControlName="licenseKey" class="license-field" placeholder="Enter Licence Key" id="licenceKey">
                <br />
                <div class="container">
                    <div *ngIf="l.licenseKey.invalid && (l.licenseKey.dirty || l.licenseKey.touched)" class="alert alert-danger">
                        License Key is required!
                    </div>
                </div>
                <div>
                    <button type="submit" class=" btn custom-btn " value="Submit">Apply</button>
                    <button type="button" (click)="showLoginForm()" *ngIf="showAddLicenceBackBtn" class=" btn custom-btn ">Back</button>
                </div>

            </form>
            <div>
                <app-mess></app-mess>
            </div>
        </div>
    </div>
    <!-- Apply License Form -->
    <!-- Details -->
    <div class="login-container" id="license-container" *ngIf="showLicenceDetails">
        <div class="section-title">License Details</div>
        <div class="input-login">
            <!--<form [formGroup]="licenseForm">-->
            <div class="container custom-container">
                <div class="row">

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-6">
                                <h6 class="start-date-title">Start Date</h6>
                                <h6 class="start-date-title">End Date</h6>
                            </div>
                            <div class="col-md-6">
                                <h6 class="start-date-number">{{(licenseInfo && licenseInfo.licenceStartDate) || '' | date:'shortDate'}}</h6>
                                <h6 class="start-date-number">{{(licenseInfo && licenseInfo.licenceEndDate) || '' | date:'shortDate'}}</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h6 class="tenant-type">Is Single Tenant: {{(licenseInfo && licenseInfo.isSingleTenant) || false }}</h6>
                        <h6 class="users-number">Number of users: {{(licenseInfo ? (licenseInfo.licenceNumberOfUsers > 0 ? licenseInfo.licenceNumberOfUsers : 'Unlimited') : 0)}}</h6>
                    </div>
                </div>
            </div>
            <h6 class="license-type">{{(licenseInfo && licenseInfo.licenceType) || ''}}</h6>
            <button type="button" (click)="showLoginForm()" class=" btn custom-btn ">Back</button>
            <!--</form>-->
            <div>
                <app-mess></app-mess>
            </div>
        </div>
    </div>
    <!-- Details -->
    <div class="bottom " id="bottom ">
        <div class="footer-text ">
            &copy; All rights reserved 2004 - {{currentYear}}
            <a href="https://www.validata-software.com/ ">
                <span style="color: #0d4b5e; ">Validata Group</span>
            </a><br />
            <a (click)="showLicenceDetailsForm()" *ngIf="showLogin" class="licence-links"> <span style="color: #0d4b5e; ">Show Licence Details</span> </a><br />
            <a (click)="showApplyNewLicenceForm()" *ngIf="showLogin" class="licence-links"><span style="color: #0d4b5e; ">Apply New Licence</span>  </a>
        </div>
    </div>
</div>
