body,
html {
    height: 100%;
}

.label {
    text-align: center;
}

.container1:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.full-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.footer-text {
    position: absolute;
    bottom: 10%;
    text-align: center;
    font-size: 14px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #034b5e;
}

.login-container {
    height: auto;
    width: 36.2rem;
    border-radius: 8px;
    position: absolute;
    top: 38%;
    left: calc(50% - 289px);
    z-index: 1;
    box-shadow: 0 2px 35px 6px #999;
    background: white;
}

.error-message {
    display: none;
}

@-webkit-keyframes login-container {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

@keyframes login-container {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-100px);
        transform: translateY(-100px);
    }
}

.app-logo {
    height: 44px;
    margin: 0 auto;
    display: flex;
    top: 28%;
    position: absolute;
    left: calc(50% - 112px);
    font-family: 'Montserrat', sans-serif;
    color: #6f756a
}

.section-title {
    text-align: center;
    font-size: 3vh;
    color: #0d4b5e;
    padding: 10px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.section-description {
    font-size: 14px;
    color: #023658;
    text-align: center;
    padding-top: 10px;
    padding: 0 35px;
    margin-bottom: 45px;
    font-family: "Cabin", sans-serif;
}

input {
    text-align: center;
    color: #0d4b5e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

input::-webkit-input-placeholder {
    text-align: center;
    color: #0d4b5e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

input::-moz-placeholder {
    text-align: center;
    color: #0d4b5e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

input :-ms-input-placeholder {
    text-align: center;
    color: #0d4b5e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

input :-moz-placeholder {
    text-align: center;
    color: #0d4b5e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

input:focus {
    text-align: center;
    color: #0d4b5e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.user-email {
    max-width: 600px;
    margin: 0 auto;
    font-size: 14px;
    outline: 0;
    display: block;
    width: 65%;
    height: 55px;
    border-width: 1px;
    border-color: #0d4b5e;
    border-radius: 35px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.password {
    max-width: 600px;
    margin: 0 auto;
    font-size: 14px;
    outline: 0;
    display: block;
    width: 65%;
    height: 55px;
    border-color: #0d4b5e;
    border-width: 1px;
    border-radius: 35px;
    margin-bottom: 20px;
}

.custom-btn {
    font-size: 14px;
    padding: 15px 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    top: 2.7rem;
    background-color: #0056b3;
    border-color: #0056b3;
    box-shadow: 0px 2px 3px 2px #0056b3;
    border-radius: 50px;
    color: #fff;
    margin-bottom: 20px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.register-btn {
    font-size: 14px;
    padding: 15px 30px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    top: 2.7rem;
    background-color: #0d4b5e;
    border-color: #0d4b5e;
    box-shadow: 0px 2px 23px 2px #0d4b5e;
    border-radius: 50px;
    color: #fff;
    margin-bottom: 20px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

.forgot-password {
    color: #005a9d;
    display: flex;
    justify-content: center;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}


/* License CSS */

.license-field {
    max-width: 600px;
    margin: 0 auto;
    font-size: 14px;
    outline: 0;
    display: block;
    width: 75%;
    height: 55px;
    border-width: 1px;
    border-color: #0d4b5e;
    border-radius: 10px;
    margin-bottom: 2px;
    font-family: 'Montserrat', sans-serif;
}

.machine-title {
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: #721c24;
}

.license-type {
    display: flex;
    justify-content: center;
    color: #0d4b5e;
}

.custom-container {
    position: relative;
    left: calc(50% - 15rem);
}

.loading-view {
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    z-index: 999999999;
    font-size: 50px;
    color: #fff;
}

.licence-links {
    cursor: pointer;
    text-decoration: underline !important;
}


/* License CSS */

@media screen and (max-width: 1600px) {
    .app-logo {
        top: 28%;
    }
    .login-container {
        height: auto;
    }
    .footer-text {
        bottom: 10%;
    }
}

@media screen and (max-width: 1366px) {
    .app-logo {
        top: 27%;
    }
}