<app-navbar></app-navbar>
<main>
    <div class="content">
        <h1>404</h1>
        <p>Apparently, the page you wanted got lost in the cloud. Sorry about that.</p>
    </div>
</main>
<div class="cloud"></div>
<div class="cloud bt"></div>
