<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row"
           *ngIf="tenantData">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
          <div class="card">
            <img class="card-img-top"
                 [src]="tenantImage"
                 alt="">
            <div class="card-body">
              <h5 class="card-title">{{tenantData.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{tenantData.email}}</h6>
              <p class="card-text">{{tenantData.description}}</p>
            </div>
          </div>
          <div class="breadcamps">
            <h4>Action buttons</h4>
          </div>
          <div>
            <div class="row">
              <div class="col-md-12">
                <form [formGroup]="tenantDetailsForm">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Name</span>
                    </div>
                    <input type="text"
                           class="form-control"
                           formControlName="name">
                    <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
                         class="alert alert-danger">
                      Name is required.
                    </div>
                  </div>
                  <div class="margin-top-10"></div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Email&nbsp;</span>
                    </div>
                    <input type="text"
                           class="form-control"
                           formControlName="email">
                    <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
                         class="alert alert-danger">
                      Email is required.
                    </div>
                  </div>
                  <div class="margin-top-10"></div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">About</span>
                    </div>
                    <textarea class="form-control"
                              aria-label="About Tenant"
                              formControlName="description"></textarea>
                    <div *ngIf="f.description.invalid && (f.description.dirty || f.description.touched)"
                         class="alert alert-danger">
                      Description is required.
                    </div>
                  </div>
                  <div class="margin-top-10"></div>
                  <button *ngIf="editModeBoolean"
                          (click)="onEditSubmit()"
                          class="btn btn-success left-button"
                          [disabled]="">Save
                    Changes
                  </button>
                  <button *ngIf="editModeBoolean"
                          (click)="discardChanges(tenantData.id)"
                          class="btn
                    btn-danger right-button">Discard
                    Changes
                  </button>
                  <div class="margin-top-10"></div>
                  <div class="margin-top-10"></div>
                  <button *ngIf="!editModeBoolean"
                          (click)="editTenant(tenantData.id)"
                          class="btn btn-success
                    left-button">Edit Tenant
                  </button>
                  <button *ngIf="!editModeBoolean"
                          (click)="deleteTenant(tenantData.id)"
                          class="btn btn-danger
                    right-button">Delete Tenant
                  </button>
                </form>
                <app-mess></app-mess>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
          <div class="breadcamps">
            <h4>Users <i class="fa fa-check-square-o"></i></h4>
          </div>
          <button class="btn btn-success left-button"
                  (click)="addUser()">Add User </button>
          <div style="margin-bottom: 7px;"></div>
          <kendo-grid [data]="tenantUsers">
            <kendo-grid-column field="id"
                               title="User ID"></kendo-grid-column>
            <kendo-grid-column field="userName"
                               title="Username"></kendo-grid-column>
            <kendo-grid-column field="email"
                               title="Email"></kendo-grid-column>
            <kendo-grid-column field="phone"
                               title="Phone"></kendo-grid-column>
            <kendo-grid-column field="isActive"
                               title="Active"></kendo-grid-column>
            <kendo-grid-column field="userRoles"
                               title="Roles">
              <ng-template kendoGridCellTemplate
                           let-dataItem>
                <span>{{dataItem.roleNames}}</span>
              </ng-template>
            </kendo-grid-column>
          </kendo-grid>
          
          <div class="row" style="margin-top: 4rem;">
            <label>Change Licence</label>
          </div>
          <div class="row" >
            <div class="col-4">
            <div class="radio" *ngFor="let license of licenses.slice(0, 10).concat(licenses.slice(13, 17))">
              <label [class]="returnLicenseClass(license)">
                <input style="zoom: 1.5;" type="checkbox"
                      (change)="onLicenseChange($event, license)"
                      [disabled]="editModeBoolean ? false : true"
                      [checked]="license.checked"
                      [value]="license.id">
                {{license.description}}
              </label>
            </div>
          </div>
            <div class="col-4">
              <div class="radio" *ngFor="let license of licenses.slice(10, 13).concat(licenses.slice(17, 21).concat(licenses.slice(35)))">
                <label [class]="returnLicenseClass(license)">
                  <input style="zoom: 1.5;" type="checkbox"
                        (change)="onLicenseChange($event, license)"
                        [disabled]="editModeBoolean ? false : true"
                        [checked]="license.checked"
                        [value]="license.id">
                  {{license.description}} 
                </label>
              </div>
            </div>
            <div class="col-4">
              <div class="radio" *ngFor="let license of licenses.slice(21, 35)">
                <label [class]="returnLicenseClass(license)">
                  <input style="zoom: 1.5;" type="checkbox"
                        (change)="onLicenseChange($event, license)"
                        [disabled]="editModeBoolean ? false : true"
                        [checked]="license.checked"
                        [value]="license.id">
                  {{license.description}}
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <kendo-dialog title="Please confirm"
                *ngIf="deletePopupOpened"
                (close)="this.deletePopupOpened=false"
                [minWidth]="250"
                [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to continue?
    </p>
    <kendo-dialog-actions>
      <button kendoButton
              (click)="this.deletePopupOpened=false">No</button>
      <button kendoButton
              (click)="confirmDelete(deleteTenantId)"
              class="confirm-yes"
              primary="false">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>
<div class="wrapper">
  <kendo-dialog title="Add User"
                *ngIf="addUserPopup"
                (close)="closePopup()"
                [minWidth]="250">
    <div class="container">
      <form [formGroup]="newUser"
            (ngSubmit)="onAddSubmit()">
        <div class="form-group">
          <label>Full Name</label>
          <input type="text"
                 formControlName="fullName"
                 class="form-control"
                 placeholder="Enter full name">
          <div *ngIf="g.fullName.invalid && (g.fullName.dirty || g.fullName.touched)"
               class="alert alert-danger">
            Full Name is required.
          </div>
        </div>
        <div class="form-group">
          <label>Username</label>
          <input type="text"
                 formControlName="userName"
                 class="form-control"
                 id="loginEmail"
                 placeholder="Enter username">
          <div *ngIf="g.userName.invalid && (g.userName.dirty || g.userName.touched)"
               class="alert alert-danger">
            Username is required.
          </div>
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input type="text"
                 class="form-control"
                 formControlName="email"
                 aria-describedby="emailHelp"
                 placeholder="Enter email">
          <div *ngIf="g.email.invalid && (g.email.dirty || g.email.touched)"
               class="alert alert-danger">
            Email is required
          </div>
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="text"
                 class="form-control"
                 formControlName="phone"
                 placeholder="Enter phone">
          <div *ngIf="g.phone.invalid && (g.phone.dirty || g.phone.touched)"
               class="alert alert-danger">
            Phone is required
          </div>
        </div>
        <div class="form-group mb-2">
          <label>Password</label>
          <input type="password"
                 class="form-control"
                 formControlName="password"
                 placeholder="Password">
          <div *ngIf="g.password.invalid && (g.password.dirty || g.password.touched)"
               class="alert alert-danger">
            Password is required, min 6 characters and max 10 characters!
          </div>
        </div>
        <div class="form-group">
          <label>Repeat Password</label>
          <input type="password"
                 class="form-control"
                 formControlName="confirmPassword"
                 placeholder="Repeat Password">
          <div *ngIf="g.confirmPassword.invalid && (g.confirmPassword.dirty ||
            g.confirmPassword.touched)"
               class="alert alert-danger">
            Repeat of password is required
          </div>
          <div *ngIf="(g.confirmPassword.value.trim('')!==g.password.value.trim('')) &&
            (g.confirmPassword.dirty || g.confirmPassword.touched)"
               class="alert
            alert-danger">Passwords do not match!
          </div>
        </div>
        <div class="form-group">
          <label>Role</label>
          <angular2-multiselect [data]="dropdownList"
                                formControlName="roles">
          </angular2-multiselect>
          <div *ngIf="g.roles.value.length==0 && (!g.roles.pristine ||
            g.roles.touched)"
               class="alert alert-danger">
            Role is required
          </div>
        </div>
        <button [disabled]="newUser.invalid || !addUserButton"
                type="button"
                class="btn btn-success  mb-2"
                value="Submit"
                (click)="onAddSubmit()">
          Submit
        </button>
      </form>
      <app-mess></app-mess>
      <div>
      </div>
    </div>
  </kendo-dialog>
</div>
