<div id="wrapper">
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="breadcamps">
        <h4><i class="fa fa-group"></i> User List</h4>
      </div>
      <kendo-grid [kendoGridReactiveEditing]="createFormGroup" [kendoGridBinding]="users" [height]="auto"
                  [pageSize]="10" [pageable]="true" [sortable]="true" [navigable]="true"
                  [removeConfirmation]="removeConfirmation" (edit)="editHandler($event)" (save)="saveHandler($event)"
                  (cancel)="cancelHandler($event)">
        <kendo-grid-column field="fullName" title="Full Name"></kendo-grid-column>
        <kendo-grid-column field="userName" title="Username"></kendo-grid-column>
        <kendo-grid-column field="email" title="Email"></kendo-grid-column>
        <kendo-grid-column field="phone" title="Phone"></kendo-grid-column>
        <kendo-grid-column field="userRoles" title="Role">
          <!--<ng-template kendoGridCellTemplate let-dataItem>-->
          <!--{{ dataItem.userRoles | json }}-->
          <!--</ng-template>-->
          <ng-template kendoGridCellTemplate let-dataItem="dataItem" let-formGroup="formGroup">
            <kendo-multiselect
              [data]="allRoles" textField="name" valueField="id" [(ngModel)]="dataItem.userRoles" [disabled]="!rolesEditMode">
            </kendo-multiselect>
          </ng-template>
          <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-formGroup="formGroup">
            <kendo-multiselect
              [data]="allRoles" textField="name" valueField="id"  [formControl]="formGroup.get('userRoles')">
            </kendo-multiselect>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column title="Actions" width="280">
          <ng-template kendoGridCellTemplate let-isNew="isNew">
            <button kendoGridEditCommand>Edit</button>
            <button kendoGridRemoveCommand class="btn btn-danger">Remove</button>
            <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
            <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
          </ng-template>
        </kendo-grid-command-column>
        <kendo-grid-column title="Reset Password" width="170">
          <ng-template kendoGridCellTemplate let-dataItem="dataItem">
            <button kendoButton type="button" (click)="resetPassword(dataItem.id)" class="btn btn-dark">Reset Password
            </button>
          </ng-template>
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
  <app-mess></app-mess>
</div>
<div class="example-wrapper">
  <kendo-dialog title="Please confirm" *ngIf="resetOpened" (click)="this.resetOpened=false" [minWidth]="250"
                [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to reset user's password?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="this.resetOpened=false">No</button>
      <button kendoButton (click)="confirmReset(selectedUserId)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>

<div class="example-wrapper">
  <kendo-dialog title="Please confirm" *ngIf="itemToRemove" (click)="this.itemToRemove=false">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete user?</p>
    <kendo-dialog-actions>
      <button class='k-button' (click)="this.itemToRemove=false">No</button>
      <button class='k-button k-primary' (click)="confirmRemove(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>
