<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="breadcamps">
                <h4> <i class="fa fa-cogs"></i> Settings</h4>
            </div>
            <div class="container">
                <div class="">
                    <img class="image-change-password" src="./../../../../assets/images/52840.png">
                </div>
                <form [formGroup]="changePassword" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Old Password</label>
                        <input type="password" class="form-control" formControlName="oldPassword" placeholder="Old Password" />
                        <div *ngIf="f.oldPassword.invalid && (f.oldPassword.dirty || f.oldPassword.touched)" class="alert alert-danger">
                            Old Password is required!
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" formControlName="newPassword" placeholder="Password" />
                        <div *ngIf="f.newPassword.invalid && (f.newPassword.dirty || f.newPassword.touched)" class="alert alert-danger">
                            Password is required, min 6 characters and max 10 characters!
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" />
                        <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)" class="alert alert-danger">
                            Confirm of password is required
                        </div>
                        <div *ngIf="(f.confirmPassword.value!==f.newPassword.value) &&  (f.confirmPassword.dirty || f.confirmPassword.touched)" class="alert alert-danger">Passwords do not match!
                        </div>
                    </div>
                    <button [disabled]="loading || changePassword.invalid" type="submit" class="btn btn-success mb-2" value="Submit">
                Submit
              </button>
                </form>
                <app-mess></app-mess>
                <div></div>
            </div>
        </div>
    </div>
</div>
