<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="breadcamps">
                <h4><i class="fa fa-address-card-o"></i> Add new Admin User</h4>
            </div>
            <div class="container">
                <form [formGroup]="newUser" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Full Name</label>
                        <input type="text" formControlName="fullName" class="form-control" placeholder="Enter Full Name" />
                        <div *ngIf="f.fullName.invalid && (f.fullName.dirty || f.fullName.touched)" class="alert alert-danger">
                            Full Name is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" formControlName="userName" class="form-control" placeholder="Enter Username" />
                        <div *ngIf="f.userName.invalid && (f.userName.dirty || f.userName.touched)" class="alert alert-danger">
                            Username is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email address</label>
                        <input type="text" class="form-control" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email" />
                        <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger">
                            Email is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" formControlName="phone" class="form-control" placeholder="Enter phone number" />
                        <div *ngIf="f.phone.invalid && (f.phone.dirty || f.phone.touched)" class="alert alert-danger">
                            Phone is required.
                        </div>
                    </div>
                    <div class="form-group mb-2">
                        <label>Password</label>
                        <input type="password" class="form-control" formControlName="password" placeholder="Password" />
                        <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger">
                            Password is required, min 6 characters and max 10 characters!
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" />
                        <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty ||
            f.confirmPassword.touched)" class="alert alert-danger">
                            Confirm of password is required
                        </div>
                        <div *ngIf="(f.confirmPassword.value!==f.password.value) &&
            (f.confirmPassword.dirty || f.confirmPassword.touched)" class="alert
            alert-danger">Passwords do not match!
                        </div>
                    </div>
                    <button [disabled]="loading || newUser.invalid" type="submit" class="btn btn-success mb-2" value="Submit" id="loginSubmit">
            Submit
          </button>
                </form>
                <app-mess></app-mess>
                <div></div>
            </div>
        </div>
    </div>
</div>
