<div id="wrapper"
     *ngIf="!isSingleTenant">
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="breadcamps">
        <h4>
          <i class="fa fa-address-card-o"></i>
          Add New Tenant
        </h4>
      </div>
      <div class="container">
        <form [formGroup]="newTenant"
              (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>Full Name</label>
            <input type="text"
                   formControlName="name"
                   class="form-control"
                   placeholder="Enter full name">
            <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
                 class="alert alert-danger">
              Name is required.
            </div>
          </div>
          <div class="form-group">
            <label>Email address</label>
            <input type="text"
                   class="form-control"
                   formControlName="email"
                   aria-describedby="emailHelp"
                   placeholder="Enter email">
            <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)"
                 class="alert alert-danger">
              Email is required.
            </div>
          </div>
          <div class="form-group">
            <label>Username</label>
            <input type="text"
                   class="form-control"
                   formControlName="userName"
                   aria-describedby="emailHelp"
                   placeholder="Enter username">
            <div *ngIf="f.userName.invalid && (f.userName.dirty || f.userName.touched)"
                 class="alert alert-danger">
              Username is required.
            </div>
          </div>
          <div class="form-group">
            <label for="inputRole">Role</label>
            <select id="inputRole"
                    class="form-control"
                    formControlName="roleId">
              <option *ngFor="let role of roles"
                      value="{{role.id}}">
                {{role.name}}
              </option>
            </select>
            <div *ngIf="f.roleId.invalid && (f.roleId.dirty || f.roleId.touched)"
                 class="alert alert-danger">
              Role is required!
            </div>
          </div>
          <div class="form-group mb-2">
            <label>Password</label>
            <input type="password"
                   class="form-control"
                   formControlName="password"
                   placeholder="Password">
            <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)"
                 class="alert alert-danger">
              Password is required, min 6 characters and max 10 characters!
            </div>
          </div>
          <div class="form-group">
            <label>Repeat Password</label>
            <input type="password"
                   class="form-control"
                   formControlName="confirmPassword"
                   placeholder="Repeat Password">
            <div *ngIf="f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)"
                 class="alert alert-danger">
              Repeat of password is required
            </div>
            <div *ngIf="(f.confirmPassword.value.trim('')!==f.password.value.trim('')) && (f.confirmPassword.dirty || f.confirmPassword.touched)"
                 class="alert alert-danger">
              Passwords do not match!
            </div>
          </div>
          <div class="form-group">
            <label>Tenant Avatar</label>
            <input placeholder="Load your avatar here"
                   type="file"
                   id="image"
                   name=“image”
                   class="form-control-file"
                   accept="jpg,png,jpeg"
                   (change)="dropHandler($event)">
            <div *ngIf="f.image.invalid && (f.image.dirty || f.image.touched)"
                 class="alert alert-danger">
              Password is required, min 6 characters and max 10 characters!
            </div>
          </div>
          <label>Select Licence</label>
          <div class="form-group card rounded"
               *ngIf="licenses && licenses.length>0">
               <div class="row">
                 <div class="col-4">
                    <div class="radio" *ngFor="let license of licenses.slice(0, 10).concat(licenses.slice(13, 17))">
                      <label [class]="returnLicenseClass(license)">
                        <input type="checkbox"
                              (change)="onLicenseChange($event, license)"
                              [checked]="license.checked"
                              [value]="license.id">
                        {{license.description}}
                      </label>
                    </div>
                 </div>
                 <div class="col-4">
                  <div class="radio" *ngFor="let license of licenses.slice(10, 13).concat(licenses.slice(17, 21).concat(licenses.slice(35, 42)))">
                    <label [class]="returnLicenseClass(license)">
                      <input type="checkbox"
                            (change)="onLicenseChange($event, license)"
                            [checked]="license.checked"
                            [value]="license.id">
                      {{license.description}}
                    </label>
                  </div>
                 </div>
                 <div class="col-4">
                  <div class="radio" *ngFor="let license of licenses.slice(21, 35).concat(licenses[42])">
                    <label [class]="returnLicenseClass(license)">
                      <input type="checkbox"
                            (change)="onLicenseChange($event, license)"
                            [checked]="license.checked"
                            [value]="license.id">
                      {{license.description}}
                    </label>
                  </div>
                 </div>
               </div>
            
          </div>
          <div class="form-group">
            <label>Address</label>
            <input type="text"
                   class="form-control"
                   formControlName="address"
                   placeholder="1234 Main St">
          </div>
          <div class="form-group">
            <label for="inputAddress2">Address 2</label>
            <input type="text"
                   class="form-control"
                   id="inputAddress2"
                   formControlName="address2"
                   placeholder="Apartment, studio, or floor">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label>City</label>
              <input type="text"
                     class="form-control"
                     formControlName="city">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <select id="inputState"
                      class="form-control"
                      formControlName="state">
                <option selected
                        value="Italy">
                  Italy
                </option>
                <option value="Germany">Germany</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label>Zip</label>
              <input type="text"
                     class="form-control"
                     formControlName="zip">
            </div>
          </div>
          <div class="form-group">
            <label>About Tenant</label>
            <textarea type="textarea"
                      class="form-control"
                      formControlName="description"
                      placeholder="Add tenant bio here"></textarea>
          </div>
          <button [disabled]="loading || newTenant.invalid"
                  type="submit"
                  class="btn btn-success mb-2"
                  value="Submit"
                  id="loginSubmit">
            Submit
          </button>
        </form>
        <app-mess></app-mess>
        <div></div>
      </div>
    </div>
  </div>
</div>
