<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="breadcamps">
                <h4><i class="fa fa-group"></i> User Roles</h4>
            </div>
            <kendo-grid [kendoGridReactiveEditing]="createFormGroup" [kendoGridBinding]="roles" [height]="auto" [pageSize]="10" [pageable]="true" [sortable]="true" [navigable]="true" [removeConfirmation]="removeConfirmation" (edit)="editHandler($event)" (save)="saveHandler($event)"
                (cancel)="cancelHandler($event)" (add)="addHandler($event)">
                <ng-template kendoGridToolbarTemplate>
                    <button kendoGridAddCommand>Add Role</button>
                </ng-template>
                <kendo-grid-column field="ID" title="Role ID" width="90"></kendo-grid-column>
                <kendo-grid-column field="name" title="Role Name"></kendo-grid-column>
                <kendo-grid-column field="processIntelligence" editor="boolean" title="Process Intelligence"></kendo-grid-column>
                <kendo-grid-column field="testDataIntelligence" editor="boolean" title="Test Data Intelligence"></kendo-grid-column>
                <kendo-grid-column field="testCaseModule" editor="boolean" title="Test Case Module"></kendo-grid-column>
                <kendo-grid-column field="insightsModule" editor="boolean" title="Insights Module"></kendo-grid-column>
                <kendo-grid-column field="productModule" editor="boolean" title="Product Module"></kendo-grid-column>
                <kendo-grid-command-column title="Commands" width="280">
                    <ng-template kendoGridCellTemplate let-isNew="isNew">
                        <button kendoGridEditCommand [primary]="true">Edit</button>
                        <button kendoGridRemoveCommand class="btn btn-danger">Remove</button>
                        <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
                        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                    </ng-template>
                </kendo-grid-command-column>
            </kendo-grid>
        </div>
    </div>
</div>
<div class="example-wrapper">
    <kendo-dialog title="Please confirm" *ngIf="removeOpened" (click)="this.removeOpened=false" [minWidth]="250" [width]="450">
        <p style="margin: 30px; text-align: center;">Are you sure you want to delete this role?</p>
        <kendo-dialog-actions>
            <button kendoButton (click)="this.removeOpened=false">No</button>
            <button kendoButton (click)="confirmDelete(selectedUserId)" primary="true">Yes</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>

<div class="example-wrapper">
    <kendo-dialog title="Please confirm" *ngIf="itemToRemove" (close)="confirmRemove(false)">
        <p style="margin: 30px; text-align: center;">Are you sure you want to delete role?</p>
        <kendo-dialog-actions>
            <button class='k-button' (click)="confirmRemove(false)">No</button>
            <button class='k-button k-primary' (click)="confirmRemove(true)" primary="true">Yes</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>
