body {
    overflow-x: hidden;
}

.avatar-image {
    width: 70px;
    height: 70px;
    background-color: #42526E;
    position: relative;
    border-radius: 50px;
    margin-top: 7px;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

.avatar-name {
    color: #42526E;
    display: block;
    text-align: center;
}

.avatar-email {
    color: #42526E;
    display: block;
    text-align: center;
}

.avatar-image-text {
    position: relative;
}

.sidebar-nav li:last-child {
    color: white;
}

.menu {
    position: relative;
    margin-top: 32px;
}

.active {
    color: blue;
}


/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #e9ecef;
    box-shadow: 4px 0px 20px 1px #88888861;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}


/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
    padding-left: 20px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #42526E;
}

.sidebar-nav li a i {
    width: 35px;
    text-align: center;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #42526E;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav>.sidebar-brand a {
    color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
