<!-- Sidebar -->
<div id="sidebar-wrapper">
    <div class="avatar" *ngIf="userProfile">
        <div class="avatar-image" *ngIf="!userProfile.name">
            <h3 class="avatar-image-text">EM</h3>
        </div>
        <div class="avatar-image" *ngIf="!userProfile.avatar">
            <ngx-avatar name="{{userProfile.name}}" size="71"></ngx-avatar>
        </div>
        <div class="avatar-name">
            <h4>{{userProfile.name}}</h4>
        </div>
        <div class="avatar-email">
            <small>{{userProfile.email}}</small>
        </div>
    </div>
    <div class="menu">
        <ul class="sidebar-nav">
            <li *ngIf="!isSingleTenant">
                <a routerLink="/"><i class="fa fa-bar-chart"></i>Dashboard </a>
            </li>
            <li *ngIf="!isSingleTenant">
                <a routerLink="/new-tenant"><i class="fa fa-address-card-o"></i>Add New Tenant </a>
            </li>
            <li>
                <a routerLink="/new-user"><i class="fa fa-address-card"></i>Add New User </a>
            </li>
            <li>
                <a routerLink="/user-list"><i class="fa fa-group"></i>User List </a>
            </li>
            <li>
                <a routerLink="/roles"><i class="fa fa-asterisk"></i>Manage Roles </a>
            </li>
            <li>
                <a routerLink="/new-admin"><i class="fa fa-user"></i>Add new Admin User</a>
            </li>
            <li>
                <a routerLink="/admin-list"><i class="fa fa-user"></i>Manage Admin Users</a>
            </li>
            <li>
                <a routerLink="/settings"><i class="fa fa-cogs"></i>Settings </a>
            </li>

        </ul>
    </div>


    <p style="color: #42526E;
            display: block;
            margin-left: auto;
            position: absolute;
            bottom: 5em;
            margin-right: auto;
            left: 2em;">&copy; Validata Admin Panel</p>
</div>