<div id="wrapper">
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="breadcamps">
                <h4><i class="fa fa-group"></i> Roles</h4>
            </div>
            <kendo-grid [kendoGridReactiveEditing]="createFormGroup" [kendoGridBinding]="roles" [height]="auto" [pageSize]="10" [pageable]="true" [sortable]="true" [navigable]="true" [removeConfirmation]="removeConfirmation" (edit)="editHandler($event)" (save)="saveHandler($event)"
                (cancel)="cancelHandler($event)" (add)="addHandler($event)" (dataStateChange)="onStateChange($event)">
                <ng-template kendoGridToolbarTemplate>
                    <button kendoGridAddCommand>Add Role</button>
                </ng-template>
                <kendo-grid-column field="name" title="Role Name"></kendo-grid-column>
                <kendo-grid-column field="description" title="Description"></kendo-grid-column>
                <kendo-grid-column title="Permission Groups">
                    <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                        <button kendoButton (click)="viewPermissions(dataItem.id)" *ngIf="!(editMode && currentDataItemId==dataItem.id) && !(addMode && dataItem.id==null)">View Permissions</button>
                        <button kendoButton (click)="editPermissions(dataItem.id)" *ngIf="currentDataItemId==dataItem.id && editMode">Edit Permissions</button>
                        <button kendoButton (click)="addPermissions()" *ngIf="addMode && dataItem.id==null">Add Permissions</button>
                    </ng-template>
                </kendo-grid-column>


                <kendo-grid-command-column title="Commands" width="280">
                    <ng-template kendoGridCellTemplate let-isNew="isNew">
                        <button kendoGridEditCommand [primary]="true">Edit</button>
                        <button kendoGridRemoveCommand class="btn btn-danger">Remove</button>
                        <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
                        <button (click) ="cancelPermissions()" kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                    </ng-template>
                </kendo-grid-command-column>
            </kendo-grid>
        </div>
    </div>
    <app-mess></app-mess>
</div>
<div class="example-wrapper">
    <kendo-dialog title="Please confirm" *ngIf="itemToRemove" (click)="this.itemToRemove=false">
        <p style="margin: 30px; text-align: center;">Are you sure you want to delete role?</p>
        <kendo-dialog-actions>
            <button class='k-button' (click)="this.itemToRemove=false">No</button>
            <button class='k-button k-primary' (click)="confirmRemove(true)" primary="true">Yes</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>

<div class="wrapper">
    <kendo-dialog title="Role Permission Groups" *ngIf="rolePermissionsPopup" (close)="rolePermissionsPopup = false" [minWidth]="250">
        <div class="container">
                <kendo-panelbar style="min-width:800px;" [expandMode]="0">
                        <kendo-panelbar-item *ngFor ="let module of modules" [title]="module.title" >
                            <ng-template kendoPanelBarContent>
                                <div class="row selectAllPermissions">
                                    <input style="zoom: 1.5;" type="checkbox" name="selectAll" [checked]="true" (click)="selectAllRowsByModule(module, $event)" disabled="true"/>
                                    {{module.title}}
                                </div>
        
        
                                <div class="row">
                                    <div class="permission-group" *ngFor ="let permission of module.permissions">
                                        <input  style="zoom: 1.2;" disabled="true" type="checkbox" [checked]="true" (click)="checkValue(permission.id,$event, module)" />
                                        {{permission.name}}
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-panelbar-item>
                    </kendo-panelbar>
        </div>
    </kendo-dialog>
</div>

<div class="wrapper">
    <kendo-dialog title="Edit Role Permission Groups" *ngIf="editRolePermissionsPopup" (close)="editRolePermissionsPopup = false" [minWidth]="250">
        <div class="container">
            <kendo-panelbar style="min-width:800px;" [expandMode]="0">
                <kendo-panelbar-item *ngFor ="let module of modules" [title]="module.title" >
                    <ng-template kendoPanelBarContent>
                        <div class="row selectAllPermissions">
                            <input style="zoom: 1.5;" type="checkbox" name="selectAll"  [checked]="module.allRowsSelected" (click)="selectAllRowsByModule(module, $event)" />
                            {{module.title}}
                        </div>


                        <div class="row">
                            <div class="permission-group" *ngFor ="let permission of module.permissions">
                                <input  style="zoom: 1.2;" [disabled]="permission.disabled" type="checkbox" [checked]="permission.isChecked" (click)="checkValue(permission.id,$event, module)" />
                                {{permission.name}}
                            </div>
                        </div>
                    </ng-template>
                </kendo-panelbar-item>
            </kendo-panelbar>
        </div>
        <kendo-dialog-actions>
            <button (click) ="cancelPermissions()" class="k-button .no-button" (click)="editRolePermissionsPopup = false">Cancel</button>
            <button class="k-button k-primary" (click)="editRolePermissionsPopup = false">Apply</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>

<div class="wrapper">
    <kendo-dialog title="Add Permission Groups" *ngIf="addRolePermissionsPopup" (close)="addRolePermissionsPopup=false" [minWidth]="250">
        <div class="container">
                <kendo-panelbar style="min-width:800px;" [expandMode]="0">
                        <kendo-panelbar-item *ngFor ="let module of modules" [title]="module.title" >
                            <ng-template kendoPanelBarContent>
                                <div class="row selectAllPermissions">
                                    <input style="zoom: 1.5;" type="checkbox" name="selectAll"  [checked]="module.allRowsSelected" (click)="selectAllRowsByModule(module, $event)" />
                                    {{module.title}}
                                </div>
        
        
                                <div class="row">
                                    <div class="permission-group" *ngFor ="let permission of module.permissions">
                                        <input  style="zoom: 1.2;" [disabled]="permission.disabled" type="checkbox" [checked]="permission.isChecked" (click)="checkValue(permission.id,$event, module)" />
                                        {{permission.name}}
                                    </div>
                                </div>
                            </ng-template>
                        </kendo-panelbar-item>
                    </kendo-panelbar>
        </div>
        <kendo-dialog-actions>
            <button (click) ="cancelPermissions()" class="k-button .no-button" (click)="addRolePermissionsPopup=false">Cancel</button>
            <button class="k-button k-primary" (click)="addRolePermissionsPopup=false">Apply</button>
        </kendo-dialog-actions>
    </kendo-dialog>
</div>